body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('/SiteStyle/SiteImages/FadeBlackToGrey.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #333;
}
.shop {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
