body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.shop {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
